.navbar-container {
	height: 100vh;
	width: fit-content;
	display: flex;
	flex-direction: column;
	font-family: var(--font-mono);
	background-color: hsl(var(--secondary));
	border-right: 2px solid hsl(var(--border));
}

.navbar-logo {
	width: 2rem;
	margin: 0.5rem auto;
}

.navbar-link {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	width: 100%;
	padding: 0.5rem 0.75rem;
	border-bottom: 2px solid hsl(var(--border));
}
.navbar-link:first-of-type {
	border-top: 2px solid hsl(var(--border));
}

.navbar-link-icon {
	width: 2rem;
	image-rendering: pixelated;
}
.navbar-link.selected .navbar-link-icon {
	filter: brightness(2) saturate(1.5);
}

.navbar-link-label {
	font-size: 0.75rem;
	color: hsl(var(--muted-foreground));
}
.navbar-link.selected .navbar-link-label {
	color: hsl(var(--foreground));
}

/* 
for the triangle "arrow" on the right side of selected tab.
::after is the actual area, ::before is the border
*/
.navbar-link.selected {
	--arrow-width: 0.5rem;
	--border-width: 2px;
	background-color: hsl(var(--background));
}
.navbar-link.selected::after {
	z-index: 2;
	content: "";
	position: absolute;
	left: calc(100% - var(--border-width));
	top: 50%;
	transform: translateY(-50%);
	width: calc(var(--arrow-width) + var(--border-width));
	height: 100%;
	clip-path: polygon(0% 0%, var(--border-width) 0%, 100% 50%, var(--border-width) 100%, 0% 100%);
	background-color: hsl(var(--background));
}
.navbar-link.selected::before {
	z-index: 1;
	content: "";
	position: absolute;
	left: 100%;
	top: 50%;
	transform: translateY(-50%);
	width: calc(var(--arrow-width) + var(--border-width));
	height: calc(100% + calc(var(--border-width) * 6)); /* this multiplier needs to change based on triangle eccentricity */
	clip-path: polygon(0 0%, 100% 50%, 0 100%);
	background-color: hsl(var(--border));
}
